<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Group's bills</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/groupsBills.js" defer></script>
</head>

<body>

    <div class="container">
        <div class="header">
            <div class="img-circle">
                <img src="/logo.png">
            </div>

            <h3>Split Bill</h3>

        </div>

        <h2 class="title">Group's bills:</h2>
        <div class="billsContainer">
            <table id="table" class="table">
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
                <tr class="idColumn">
                    <td>1</td>
                    <td>paper</td>
                    <td>44$</td>
                </tr>
                <tr class="descriptionColumn">
                    <td>2</td>
                    <td>Hotel</td>
                    <td>55$</td>
                </tr>
                <tr class="amountColumn">
                    <td>3</td>
                    <td>meal</td>
                    <td>$55</td>
                </tr>
            </table>

        </div>

        <form id="group-form" class="formContainer">
            <h3 class="title">Add bill</h3>

            <label class="label">Amount:</label>
            <input class="amount" name="amount" type="text">

            <label class="label">Description:</label>
            <input class="description" name="description" type="text">

            <button id="btn" class="btn" type="submit">Add</button>

        </form>

    </div>

</body>

</html>