<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Your Group</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/group.js" defer></script>
</head>
<body>

<div class="container">
    <div class="header">
        <div class="img-circle">
            <img src="/logo.png">
        </div>

        <h3>Split Bill</h3>

    </div>

    <h2 class="title">Select Your Group</h2>
    <div class="groupContainer">

        <!-- <div class="cards-group">
            <div class="card">
                <h3 class="idText">ID: 2</h3>
                <h6 class="text">Our Trip to SF</h6>
            </div>
        </div> -->

    </div>

    <form id="group-form" class="formContainer">
        <h3 class="title">Add group</h3>

        <label class="label">Group ID:</label>
        <input class="groupId" name="id" type="number" >

        <button id="btn" class="btn" type="submit">Add</button>

    </form>

</div>

</body>
</html>